<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta property="og:title" content="Shadowrun Anarchy Assistant" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://dev.lauroliste.fr/sragen/" />
        <meta property="og:site_name" content="http://lauroliste.fr" />
        <meta property="og:description" content="Assistant pour création de personnage Shadowrun Anarchy" />
        <meta property="og:image" content="<%= BASE_URL %>preview.png" />
        <link rel="icon" href="<%= BASE_URL %>icon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <title>Shadowrun Anarchy</title>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>