<template>
    <div id="app">
        <div id="nav">
            <div class="columns is-flex is-justify-content-center is-align-items-center">
                <div class="column is-1">
                    <figure class="image is-64x64 is-pulled-right">
                        <img alt="Vue logo" src="./assets/logo.png">
                    </figure>
                </div>
                <div class="column is-3 is-size-5">
                    <h1>{{ $t('title') }}</h1>
                </div>
                <div class="column is-1">
                    <figure class="image is-64x64 flip">
                        <img alt="Vue logo" src="./assets/logo.png">
                    </figure>
                </div>
            </div>
        </div>
        <sragen/>
    </div>
</template>

<script>
</script>
<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }
    #nav {
        padding: 10px;
        text-align: center;
        color: #42b983;
    }
    .flip{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
</style>
